<section class="about" id="about">
            <div class="container container--about">

                <div class="about__img" style="background:linear-gradient(rgba(159, 154, 207, .1),rgba(159, 154, 207, .4)), url(img/about_us.jpg) no-repeat; background-position: center; background-size: cover;">

                    <svg class="about__ico">
                        <use xlink:href="#icon-about"></use>
                    </svg>

                    <h2 class="about__tit">About us</h2>
                </div>

                <div class="about__info">
                    
                    <div class="about__text">Nullam quis risus eget urna    
                        <b>mollis ornare</b> 
                    vel eu leo. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                    </div>
                    
                    <div class="about__text">
                        <b>Morbi leo risus</b>
                    , porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet 
                        <i>fermentum</i>
                    . Sed posuere consectetur est at lobortis.
                    </div>
                    
                    <a href="#" class="btn btn--about">Learn More</a>

                </div>
           
            </div>
        </section>