<!-- footer.html -->

<footer id="footer" class="footer">
    <div class="container container--footer">

        <p class="footer__copyright">©2014 
        	<a href="#">tulus </a> 
        driyo. All Rights Reserved.</p>

        <div class="team__socials-box team__socials-box--footer">
           <a href="#" class="team__socials-link">
                <i class="fab fa-behance"></i>
            </a>
           <a href="#" class="team__socials-link">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#" class="team__socials-link">
                <i class="fab fa-google-plus-g"></i>
            </a>
            <a href="#" class="team__socials-link">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="team__socials-link">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

    </div>
</footer>