<!-- header.html -->

<header id="header" style="background: linear-gradient(rgba(159, 154, 207, .5),rgba(159, 154, 207, .5)), url(img/header_bg.jpg) no-repeat center;background-size: cover">
        <div class="container header"> 

            <nav class="nav">

                <div class="nav__logo-wrap">
                    <a href="#" class="nav__logo-link">
                        <svg class="icon nav__logo">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                </div>

                <div class="nav__links">    
                    <a href="#" class="nav__link">Home</a>
                    <a href="#about" class="nav__link">About</a>
                    <a href="#services" class="nav__link">Services</a>
                    <a href="#works" class="nav__link">Works</a>
                    <a href="#contacts" class="nav__link">Contacts</a>
                </div>

                <div class="burger">
                    <div class="burger__img">
                        <img src="img/menu.png" alt="MENU">
                    </div>   
	                <nav class="burger__links">
	                    <a href="#" class="burger__link">Home</a>
	                    <a href="#about" class="burger__link">About</a>
	                    <a href="#services" class="burger__link">Services</a>
	                    <a href="#works" class="burger__link">Works</a>
	                    <a href="#contacts" class="burger__link">Contacts</a>
	                </nav>
                </div>

            </nav>

            <section class="header__content">
                <h1 class="header__tit">CreativE DIGITAL Project </h1>
                <p class="header__subtit">Duis mollis, est non commodo luctus,<br> nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            </section>

        </div>
    </header>