<section class="team">
    <div class="container container--team">

        <div class="heading">
            <svg class="heading__icon">
                <use xlink:href="#Icon-Team"></use>
            </svg>
            <h2 class="heading__tit heading__tit--team">Meet our team</h2>
        </div>

        <div class="team__content">

            <div class="slider-team">

                <div class="slide-team">
                    <div class="team__person">
                        <div class="team__img-box"> 
                            <img src="img/team1.jpg" alt="photo" class="team__img">
                        </div>
                        <h3 class="team__name">Miguel Obrien</h3>
                        <span class="team__skills">Ceo & Founder</span>
                        <div class="team__socials-box team__socials-box--short">
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="slide-team">
                    <div class="team__person">
                        <div class="team__img-box">
                            <img src="img/team2.jpg" alt="photo" class="team__img">
                        </div>
                        <h3 class="team__name">Jackie Carroll</h3>
                        <span class="team__skills">Art Director</span>
                        <div class="team__socials-box">
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-behance"></i>
                            </a>
                           <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div> 

                <div class="slide-team">
                    <div class="team__person">
                        <div class="team__img-box">
                            <img src="img/team3.jpg" alt="photo" class="team__img">
                        </div>
                        <h3 class="team__name">Ida Morrison </h3>
                        <span class="team__skills">Designer</span>
                        <div class="team__socials-box">
                           <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-behance"></i>
                            </a>
                           <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="slide-team">
                    <div class="team__person">
                        <div class="team__img-box"> 
                            <img src="img/team4.jpg" alt="photo" class="team__img">
                        </div>
                        <h3 class="team__name">Cara Denvers</h3>
                        <span class="team__skills">HR</span>
                        <div class=" team__socials-box team__socials-box--short">
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="slide-team">
                    <div class="team__person">
                        <div class="team__img-box">
                            <img src="img/team5.jpg" alt="photo" class="team__img">
                        </div>
                        <h3 class="team__name">Jack Maron</h3>
                        <span class="team__skills">Chief Developer</span>
                        <div class="team__socials-box">
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-behance"></i>
                            </a>
                           <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#" class="team__socials-link" targe target="_blank"t="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>  

                <div class="slide-team">
                    <div class="team__person">
                        <div class="team__img-box">
                            <img src="img/team6.jpg" alt="photo" class="team__img">
                        </div>
                        <h3 class="team__name">Evan Rock</h3>
                        <span class="team__skills">Marketer</span>
                        
                        <div class="team__socials-box">
                           <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-behance"></i>
                            </a>
                           <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="team__socials-link" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>