<section class="works" id="works" style="background: linear-gradient(rgba(182,178,215, .95),rgba(182,178,215, .95)), url(img/section_bg_2.jpg) no-repeat center; background-size: cover">
            <div class="container container--works">

                <div class="heading">
                    <svg class="heading__icon">
                        <use xlink:href="#Icon-Works"></use>
                    </svg>
                    <h2 class="heading__tit">Recent works</h2>
                </div>

                <div class="slider-works">

                    <div class="slide">
                        <div class="works__plot">
                            <div class="works__img-box">
                                <img src="img/layout.jpg" alt="" class="works__img">
                            </div>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="works__plot">
                            <div class="works__img-box">
                                <img src="img/layout2.jpg" alt="" class="works__img">
                            </div>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="works__plot">
                            <div class="works__img-box">
                                <img src="img/layout3.jpg" alt="" class="works__img">
                            </div>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="works__plot">
                            <div class="works__img-box">
                                <img src="img/layout4.jpg" alt="" class="works__img">
                            </div>
                        </div>
                    </div>

                </div>   
                <a href="#" class="btn btn--works">View Gallery</a>
            </div>
        </section>